@{
    ViewData["Title"] = "List in a View";
}
<h1>@ViewData["Title"]</h1>

<p>Here is your name list</p>

  <a class="nav-link text-dark" asp-area="" asp-controller="List" asp-action="Index">Go Back to </a> Lists